// Sidebar
$aside-background-color: #333844;
$aside-color: #838790;
$aside-color-hover: #fff;
$aside-li-color-current: #fff;
$aside-li-bg-current: rgba(216, 212, 212, 0.2);

//右边主体部分
$main-header-height:40px;
$main-background-color: #F6F8FB;
$main-header-background-color: #fff;
$main-footer-background-color: #fff;